doctype html
html(lang="es")
    head
        title Subir Fotos
        meta(charset="utf-8")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet")
    body
        //block es una palabra clave de jade que lleva un identificador y se puede cargar el contenido de la página ahí (otro .jade).
        block contenido