extends ./layout.jade

block contenido
    div(class="col-sm-12")
        form(action="/users", method="POST" class="form-horizontal form-bordered")
            div(class="form-group")
                label(for="email" class="control-label") Email
                input(type="text" id="email" name="email" placeholder="E-mail" class="form-control")
            div(class="form-group")
                label(for="password" class="control-label") Password
                input(type="password" id="password" name="password"  class="form-control")
            div(class="form-group text-center form-actions")
                input(type="submit" class="btn btn-primary" value="Entrar")
