extends ../../layout.jade

block contenido
    div(class="col-sm-12")
        for imagen in imagenes
            .row.border
                .col-lg-10.col-md-8
                    h3.my-2= imagen.title
                .col-lg-2.col-md-4.text-right
                    .btn-group.my-2
                        a(href="/app/imagenes/#{imagen._id}/edit" class="btn btn-xs btn-default") Editar
                        a(href="/app/imagenes/#{imagen._id}/delete" class="btn  btn-xs btn-default") Eliminar