extends ./layout.jade

block contenido
    div(class="col-sm-12")
        h1 Bienvenidos!
        a(href="/login" class="btn btn-primary") Iniciar Sesión
        a(href="/signup" class="btn btn-primary") Registrarse