extends ../layout.jade

block contenido
    div(class="row")
        div(class="col-sm-12")
            p Hola #{user.email}
            hr
            a(href="app/imagenes/new" class="btn btn-info") Subir imagen